@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Urbanist, sans-serif !important;

  background: #0f172a !important;
}


.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 5px;
}

.link-navs {
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  transition: 300ms;
  color: #9da5f0;
  background-color: transparent !important;
  font-weight: 100 !important;
}

.donate-li {
  background-color: #2e54ab !important;
  color: White !important;

}

.donate-li:hover {
  background-color: #577bce !important;
}

.link-navs:hover {
  color: #ffffff;
}

.link-navs-dropdown {
  color: #9da5f0 !important;
  background-color: #252739 !important;
  border: none !important;
}

.link-navs-dd-text {
  transition: background-color 0.2s;
}

.link-navs-dd-text:hover {
  background-color: #343647 !important;
  transition: background-color 0.2s;
}

.link-navs-dd-text:active {
  background-color: #343647 !important;
  transition: background-color 0.2s;
}
